.htmlMain {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

.bodyMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background: #0E141A;
  min-height: 100vh;
  word-break: break-word;
  font-size: 18px;
  line-height: 28px;
  font-family: roboto;
  word-break: break-word;
  color: #ffffff;
  position: relative;
}

.DivCustomContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
  position: relative;
}

.divTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divMid {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  flex-grow: 1;
  padding: 25px 0 50px 0;
}

.divBot {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divNotesHolder {
  width: 100%;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.divNote {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgb(0,0,0,0.1);
  background-color: #253443;
  border: solid 1px #2b3c4e;
  position: relative;
  flex-grow: 1;
  justify-content: space-between;
}

.divNoteTop {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin: 10px 10px 0 10px;
}

.divNoteMid {
  padding: 10px 10px 0 10px;
  border-top: solid 1px #2b3c4e;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.divNoteBot {
  z-index: 1;
}

.divNoteMidPara {
  margin: 0 0 5px 0;
  font-size: 16px;
  max-height: 55px;
  overflow: hidden;
}

.divNoteTopPP {
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 20px;
  border: solid 1px #2b3c4e;
}

.divNoteTopPPImg {
  width: 100%;
  height: auto;
}

.divNoteTopName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divNoteTopNamePara {
  margin: 0;
  font-size: 16px;
  color: grey;
}

.divNoteLink {
  width: 100%;
  /*background: #1e2b37;*/
  /*border: solid 1px #2b3c4e;*/
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

@media (max-width: 992px) {
  .divNoteLink {
    width: 100%;
    max-width: 48%;
    background: #1e2b37;
    /*border: solid 1px #2b3c4e;*/
    border-radius: 20px;
  }
}

@media (max-width: 576px) {
  .divNoteLink {
    width: 100%;
    max-width: 100%;
    background: #1e2b37;
    /*border: solid 1px #2b3c4e;*/
    border-radius: 20px;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  color: unset;
  text-decoration: unset;
}

.divNoteTopPPLink {
}

.divNoteTopNameLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divHero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 25px 0;
  border-bottom: solid 1px #232323;
}

@media (max-width: 768px) {
  .divHero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 25px 0;
    border-bottom: solid 1px #232323;
  }
}

.divHeroContent {
  width: 100%;
  /*height: 200px;*/
  border-radius: 12px;
  box-shadow: 0 0 12px 0 rgb(0,0,0,0.1);
  background-color: #253443;
  border: solid 1px #2b3c4e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divHeroContentHeading {
  margin: 0;
}

.divHeroContentPara {
  margin: 10px 0 0 0;
  color: #bfbfbf;
  text-align: center;
}

.divHeroContentPara.dHCPNote {
  color: rgba(255,255,255,0.25);
  padding: 10px;
  border: solid 1px rgba(255,255,255,0.05);
  border-radius: 12px;
  background: rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .divHeroContentPara {
    /*text-align: justify;*/
  }
}

.divFeedbackSearch {
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 12px 0 rgb(0,0,0,0.1);
  background-color: #253443;
  border: solid 1px #2b3c4e;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .divFeedbackSearch {
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 12px 0 rgb(0,0,0,0.1);
    background-color: #253443;
    border: solid 1px #2b3c4e;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
}

.divFeedbackSearchFieldBox {
  position: relative;
}

@media (max-width: 768px) {
  .divFeedbackSearchFieldBox {
    position: relative;
    margin: 0 0 10px 0;
  }
}

.divFeedbackSearchFieldBoxInput {
  background: unset;
  border: solid 1px rgba(255,255,255,0.05);
  outline: unset;
  border-radius: 16px;
  background-color: rgba(0,0,0,0.1);
  color: white;
  padding: 8px 15px 8px 15px;
}

@media (max-width: 768px) {
  .divFeedbackSearchFieldBoxInput {
    width: 100%;
  }
}

.divFeedbackSearchFieldBoxPara {
  margin: 0;
  font-size: 12px;
  color: grey;
  line-height: 1.5;
  padding: 0 10px 0 10px;
  background-color: #253443;
  z-index: 2;
  position: absolute;
  top: -12px;
  left: 15px;
  border-radius: 5px;
}

.divFeedbackSearchPopular {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  height: 100%;
  /*width: 100%;*/
  border-left: solid 1px rgba(255,255,255,0.05);
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .divFeedbackSearchPopular {
    border: unset;
    flex-direction: column;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
  }
}

.divFeedbackSearchPopularPara {
  margin: 0;
  color: rgba(255,255,255,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: normal;
}

@media (max-width: 768px) {
  .divFeedbackSearchPopularPara {
    text-align: center;
  }
}

.divFeedbackSearchPopularTags {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  position: relative;
}

.divFeedbackSearchPopularTagsLinks {
  background: rgba(255,255,255,0.05);
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
  color: grey;
  word-wrap: normal;
  word-break: normal;
}

.divFeedbackSearchPopularTagsHolder {
  overflow: auto;
  position: relative;
}

.divFeedbackSearchPopularTagsHolder::-webkit-scrollbar {
  display: none;
}

.divNoteTopNamePara.divNoteTopNameParaDateTime {
}

.btnMain {
  transition: ease 0.3s;
  border: solid 1px rgba(255,255,255,0.05);
  color: grey;
  outline: unset;
  padding: 5px 10px 5px 10px;
  background: rgba(0,0,0,0.1);
}

.btnMain:hover {
  transition: ease 0.3s;
  color: white;
  outline: unset;
  border: solid 1px rgba(255,255,255,0.05);
  padding: 5px 10px 5px 10px;
  background: rgba(0,0,0,0.1);
}

.btnMain:focus {
  transition: ease 0.3s;
  color: white;
  outline: unset;
  border: solid 1px rgba(255,255,255,0.05);
  padding: 5px 10px 5px 10px;
  background: rgba(0,0,0,0.1);
}

.divNoteInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.divNoteInfoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divNoteInfoBoxLink {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgba(255,255,255,0.5);
  width: 100%;
}

.divNoteInfoBoxLinkPara {
  line-height: 1.3;
  margin: 0 0 0 8px;
}

.divNoteInfoBoxLinkIcon {
}

.divNoteMidPara.divNoteMidParaSpan {
  margin: 0 0 0 5px;
  color: grey;
}

.divFeedbackSearchPopularTagsHolderX2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 0 10px;
}

.divGradientSidesTags {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(37,52,67), rgb(37,52,67), rgba(37,52,67,0));
  width: 35px;
}

.divGradientSidesTags.GSTReverse {
  right: 0;
  left: unset;
  background-image: linear-gradient(to left, rgb(37,52,67), rgb(37,52,67), rgba(37,52,67,0));
}

.btnMain.btnSearch {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 16px 16px 0;
}

.btnMain.btnNoteFull:hover {
  background: rgba(255,255,255,0.1);
}

.btnMain.btnNoteFull {
}

.divNoteHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32%;
}

@media (max-width: 1028px) {
  .divNoteHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 48%;
  }
}

@media (max-width: 768px) {
  .divNoteHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
}

